[submodule "src/thirdparty/subhook"]
	path = src/thirdparty/subhook
	url = https://github.com/Petercov/subhook
[submodule "gmod-animations"]
	path = game/spp_shared/modelsrc/gmod-animations
	url = https://github.com/Petercov/gmod-animations
[submodule "hl2_reloded"]
	path = game/spp_shared/content/hl2_reloaded
	url = https://github.com/Northern3D/hl2-reloaded
