[submodule "src/thirdparty/subhook"]
	path = src/thirdparty/subhook
	url = https://github.com/Petercov/subhook
[submodule "gmod-animations"]
	path = game/spp_shared/modelsrc/gmod-animations
	url = https://github.com/Petercov/gmod-animations
[submodule "src/utils/xwad"]
	path = src/utils/xwad
	url = https://github.com/Petercov/xwad
